.background {
    background: url('../../../assets/back2.webp') repeat;
    font-family: 'Montserrat';
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888; /* Siva barva */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px; /* Zaobljeni robovi */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3px; /* Zaobljeni robovi */
  }
  
  input:checked + .slider {
    background-color: #555; /* Siva barva, ko je stikalo vklopljeno */
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #555; /* Senca ob osredotočenju stikala */
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  .btn-logout {
    background-color: #e53e3e; /* Rdeča barva gumba */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .btn-logout:hover {
    background-color: #c53030; /* Temnejša rdeča barva ob hoverju */
  }