/* Remove up|down arrow at number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.align-right {
    margin-left: auto;
}

.background {
    background: url('../../../assets/back2.webp') repeat;
    font-family: 'Montserrat';
}

